body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

textarea#markdownInput {
    outline: none;
    resize: none;
    overflow: auto;
    width: 50%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 10px;
    background-color: #F5F5F5;
    font-size: 14px;
}

#markdownContainer {
}